<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.member.mapper.memberMapper">
	
	<!-- 로그인 POST : 아이디, 비밀번호, 이름을 추출하자 -->
	<select id="login" parameterType="com.edu.member.dto.MemberDTO" resultType="com.edu.member.dto.MemberDTO">
		SELECT	*
		FROM	member
		WHERE	id 		= #{id}
		AND		passwd	= #{passwd}
	</select>
		
		<!-- 회원상세정보 -->
	<select id="detail" parameterType="String" resultType="com.edu.member.dto.MemberDTO">
		SELECT * FROM member WHERE id = #{id}
	</select>
	
	<!-- 회원 아이디에 해당하는 비밀번호, 비밀번호 확인, 이름, 전화번호, 주소를 변경한다.  -->
	<update id="update" parameterType="com.edu.member.dto.MemberDTO">
		UPDATE	member
		SET		passwd			= #{passwd},
				repasswd		= #{repasswd},
				name			= #{name},
				nickname		= #{nickname},
				phoneNumber		= #{phoneNumber},
				gender			= #{gender},
				zipcode			= #{zipcode},
				gender			= #{gender},
				address			= #{address},
				addressdetail	= #{addressDetail},
				birthdate		= #{birthdate}
				
		WHERE	id				= #{id}
	</update>
	
	
	<!-- 회원 아이디 중복 검사 -->
	<select id="idCheck" parameterType="com.edu.member.dto.MemberDTO" resultType="int">
		SELECT	COUNT(*)
		FROM	member
		WHERE	id		= #{id}
	</select>
	
	<!-- 회원 가입 POST -->
	<insert id="insert" parameterType="com.edu.member.dto.MemberDTO">
		INSERT INTO member
				(id,passwd,repasswd, name,nickname, phoneNumber, gender,reg_date, gender, zipcode, address, addressDetail, birthdate)
		VALUES	(#{id},	#{passwd}, #{repasswd}, #{name},#{nickname}, #{phoneNumber},#{gender}, sysdate, #{gender}, #{zipcode}, #{address}, #{addressDetail}, #{birthdate})
	</insert>
	
	
	
	
</mapper>
