<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.board.mappers.boardMapper">


	<!-- 게시물 목록 -->
	<select id="selectAllArticleList" resultType="boardDTO">
		<![CDATA[
			SELECT	*
			FROM	board
			order by board_id desc
		]]>
	</select>
	
	<!-- 전체 게시글 수 구하기 (Paging 처리) -->
	<select id="boardListTotalCount" parameterType="com.edu.board.dto.PagingCriteria" resultType="Integer">
		<![CDATA[
		 	SELECT	COUNT(*)
		 	FROM	board
		]]>
	</select>
	
	<!-- 게시글 목록 가져오기 (Paging) -->
	<!-- ROWNUM 을 가장 안 쪽에 사용하면 Mapper에서 인식을 못하기 때문에 바깥쪽에 사용하였다. -->
	<!-- rownum, level 이름으로 인해서 resultMap articlesResult 로 사용한다. -->
	<select id="boardListPaging" parameterType="com.edu.board.dto.PagingCriteria" resultType="boardDTO">
	<![CDATA[
	SELECT	*
	FROM	(
		SELECT  ROWNUM AS recNum, board_id, title, content, writeDate, image, m_id
		FROM
            (SELECT	board_id, title, content, writeDate, image, m_id
            FROM		board
            ORDER BY board_id DESC) )
	WHERE recNum BETWEEN (#{page} - 1) * #{perPageNum} + 1 AND #{page} * #{perPageNum}
	]]>
	</select>
	
	
</mapper>


