<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	
	<!-- 로그인 POST : 아이디, 비밀번호, 이름을 추출하자 -->
	<select id="login" parameterType="com.edu.member.dto.MemberDTO" resultType="com.edu.member.dto.MemberDTO">
		SELECT	*
		FROM	member
		WHERE	member_id	= #{id}
		AND		member_pw	= #{passwd}
	</select>
		
		<!-- 회원상세정보 -->
	<select id="detail" parameterType="String" resultType="com.edu.member.dto.MemberDTO">
		SELECT * FROM member WHERE id = #{id}
	</select>
	
	<!--  회원 아이디에 해당하는 비밀번호, 비밀번호 확인, 이름, 전화번호, 주소를 변경한다.  -->
	 
	<update id="update" parameterType="com.edu.member.dto.MemberDTO">
		UPDATE	member

		SET		member_passwd			= #{passwd},
				member_repasswd			= #{repasswd},
				member_name				= #{name},
				member_nickname			= #{nickname},
				member_phoneNumber		= #{phoneNumber},
				member_gender			= #{gender},
				member_zipcode			= #{zipcode},
				member_gender			= #{gender},
				member_address			= #{address},
				member_addressdetail	= #{addressDetail},
				member_birthdate		= #{birthdate}
		WHERE	member_id				= #{id}
	</update>
	
	
	<!-- 아이디(이메일) 중복 검사 -->
	<select id="idCheck" parameterType="com.edu.member.dto.MemberDTO" resultType="int">
		SELECT	COUNT(*)
		FROM	member
		WHERE	member_id = #{id}
	</select>
	
	<!-- 닉네임 중복 검사 -->
	<select id="nickCheck" parameterType="com.edu.member.dto.MemberDTO" resultType="int">
		SELECT	COUNT(*)
		FROM	member
		WHERE	member_nickname = #{nickname}
	</select>
	
	<!-- 회원 가입  -->
	<insert id="join" parameterType="com.edu.member.dto.MemberDTO">
		INSERT INTO member
				(member_id, member_pw, member_repw, member_name, member_nickname, member_phoneNumber, member_birthdate, member_gender, member_zipcode, member_address, member_addressdetail )
		VALUES	(#{id},	#{passwd}, #{repasswd}, #{name}, #{nickname}, #{phoneNumber}, #{birthdate}, #{gender}, #{zipcode}, #{address1}, #{addressDetail} )
	</insert>
	
</mapper>
