<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shopping.mapper">
	<select id="cartList" parameterType="memberDTO" resultType="cartDTO">
		<![CDATA[
			SELECT *
			FROM cart
			WHERE m_id = #{m_id}
			AND cart_number = (SELECT MIN(cart_number) FROM cart WHERE m_id = #{m_id})
		]]>
	</select>

	<select id="productList" parameterType="memberDTO" resultType="productDTO">
		<![CDATA[
			SELECT *
			FROM product
			WHERE product_id IN (SELECT product_id 
								 FROM cart 
								 WHERE m_id = #{m_id}
								 AND cart_number = (SELECT min(cart_number) FROM cart WHERE m_id = #{m_id}))
		]]>
	</select>
	
	<update id="changeCount" parameterType="cartDTO">
		<![CDATA[	
			UPDATE cart
			SET count = #{count}
			WHERE cart_id = #{cart_id}
		]]>
	</update>
	<!-- ============================================================================================================================================================================================= -->
	<select id="searchProductId" parameterType="String" resultType="int">
		<![CDATA[
			SELECT product_id
			FROM product
			WHERE product_name = #{product_name}
		]]>
	</select>
	
	<insert id="orderInsert" parameterType="orderDTO">
		<![CDATA[
			INSERT INTO product_order (order_id, m_id, product_id, order_number, receiver_name, receiver_phoneNum, zipcode, address, address_detail, order_status, count, final_price)
			VALUES (#{order_id}, #{m_id}, #{product_id}, #{order_number}, #{receiver_name}, #{receiver_phonenum}, #{zipcode}, #{address}, #{address_detail}, #{order_status}, #{count}, #{final_price})
		]]>
	</insert>
	
	<delete id="deleteProduct" parameterType="String">
		<![CDATA[
			DELETE FROM cart
			WHERE cart_id = #{cart_id}
		]]>
	</delete>
	
	<select id="checkOrderId" resultType="String">
		<![CDATA[
			SELECT order_id
			FROM product_order
		]]>
	</select>
	<select id="checkOrderNum" parameterType="String" resultType="String">
		<![CDATA[
			SELECT order_number
			FROM product_order
			WHERE m_id = #{m_id}
		]]>
	</select>
	<!-- ============================================================================================================================================================================================= -->
	<select id="orderInfo" parameterType="memberDTO" resultType="orderDTO">
		<![CDATA[
			SELECT * 
			FROM product_order
			WHERE m_id = #{m_id}
			ORDER BY order_date
		]]>
	</select>
	
	<select id="orderList" parameterType="orderDTO" resultType="productDTO">
		<![CDATA[
			SELECT * 
			FROM product
			WHERE product_id 
			IN (SELECT product_id FROM product_order WHERE order_id = #{order_id})
		]]>
	</select>
	
	<update id="cancelProgress" parameterType="java.util.Map">
		<![CDATA[
			UPDATE product_order
			SET order_complaint = #{reason}, order_status = #{status}
			WHERE order_id = #{id}
		]]>
	</update>
	
	<select id="changeProduct" parameterType="String" resultType="orderDTO">
		<![CDATA[
			SELECT m_id, product_id, receiver_name, receiver_phonenum, zipcode, address, address_detail, count, final_price
			FROM product_order
			WHERE order_id = #{order_id}
		]]>
	</select>
	<!-- ============================================================================================================================================================================================= -->
	<sql id="search">
		<if test="startDate != null and endDate != null">
			<![CDATA[
				AND order_date > #{startDate} AND order_date < #{endDate} 			
			]]>
		</if>
	</sql>
	
	<select id="totalCount" parameterType="orderSearch" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM product_order
			WHERE order_complaint IS NULL
		]]>
		<include refid="search"/>
	</select>
	
	<select id="showOrder" parameterType="java.util.Map" resultType="orderDTO">
		SELECT order_id, m_id, product_id, order_number, receiver_name, receiver_phonenum, zipcode, address, address_detail, order_date, order_status, order_complaint, count, final_price
		FROM (
			<![CDATA[
				SELECT ROWNUM as rnum, order_id, m_id, product_id, order_number, receiver_name, receiver_phonenum, zipcode, address, address_detail, order_date, order_status, order_complaint, count, final_price
				FROM product_order
				WHERE m_id = #{member} AND order_complaint IS NULL
			]]>
			<include refid="search"/>
			)
		<![CDATA[
		WHERE rnum BETWEEN (#{page} - 1) * #{perPageNum} + 1 AND #{page} * #{perPageNum}
		]]>
	</select>
	<!-- ============================================================================================================================================================================================= -->
	<select id="orderNumInfo" parameterType="int" resultType="orderDTO">
		<![CDATA[
			SELECT * 
			FROM product_order
			WHERE order_number = #{order_num , jdbcType=VARCHAR}
		]]>
	</select>
</mapper>