<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <!-- src/main/resource/mappers/memberMapper.xml -->
  
<mapper namespace="com.edu.sole.mappers.soleMapper">  
	
	<!-- 술 종류 가져오기 -->
	<select id="soleMain" resultType="com.edu.sole.dto.RecipedSoleDTO" parameterType="com.edu.sole.dto.SoleSearchCriteria">

		<![CDATA[
			select *
			from	
					(select rownum as rwm, alcohole_name, alcohole_image, alcohole_level, favor, alcohole_category, recipe_code
				 	 from reciped_alcohole)
			where rwm >= #{perPageNum}*#{page}-(#{perPageNum}-1) and rwm <= #{perPageNum}*#{page}
		]]>
		<include refid="search"/>
	</select>

	
	 <!-- 게시글 검색조건 -->
  	<!-- oracle = || 은 + 처럼 쓰일수잇음 컬럼도 합칠수잇 -->
  	<sql id="search">
  		<if test="keyword != null and keyword != ''">
  			<![CDATA[
  				and alcohole_name like '%' || #{keyword} || '%'
  			]]>
  		</if>


  		<if test="dosu != null and dosu != '' and dosu != 0">
  			<![CDATA[
  				and alcohole_level = #{dosu}
  			]]>
  		</if>

  		 <if test="mat != null and mat != '' and mat != '모든'">
  			<![CDATA[
  				and favor = #{mat}
  			]]>
  		</if>

  		<if test="alcohole_category != null and alcohole_category != '' and alcohole_category != 0">
  			<![CDATA[
  				and alcohole_category = #{alcohole_category}
  			]]>
  		</if>

  		 <if test="dosu == 0">
  			<![CDATA[
  				and 1=1
  			]]>
  		</if>

  		 <if test="mat == '모든'">
  			<![CDATA[
  				and 1=1
  			]]>
  		</if>
  	</sql>

	<!-- 술 개수 가져오기 -->
	<select id="solecount" parameterType="com.edu.sole.soledto.SoleSearchCriteria" resultType="int">
		<![CDATA[
			select count(*)
			from reciped_alcohole
			where 1=1 
		]]>
		
		<include refid="search"/>
  </select>
	
	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<!-- 술 레시피  디테일 가져오기 -->
	<select id="solerecipeDetail" parameterType="String" resultType="com.edu.sole.soledto.recipe.recipeDTO">
		<![CDATA[
			select *
			from recipe
			where recipe_code = #{recipe_code}
		]]>
	</select>

	<!-- 술 정보 -->
	<select id="solerecipe" resultType="com.edu.sole.soledto.RecipedSoleDTO" parameterType="String">
		<![CDATA[
			select *
			from reciped_alcohole
			where recipe_code = #{recipe_code}
		]]>
	</select>

</mapper>