<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <!-- src/main/resource/mappers/memberMapper.xml -->
  
<mapper namespace="com.edu.sole.mappers.soleMapper">  
	
	<!-- 술 종류 가져오기 -->
	<select id="soleMain" resultType="com.edu.sole.dto.RecipedSoleDTO" parameterType="com.edu.sole.dto.SoleSearchCriteria">

		<![CDATA[
			select *
			from	
					(select rownum as rwm, alcohole_name, alcohole_image, alcohole_level, favor, alcohole_category, recipe_code
				 	 from reciped_alcohole where alcohole_category = #{alcohole_category})
			where rwm between (#{page} -1) * #{perPageNum} + 1 and #{perPageNum} * #{page}
		]]>
		<include refid="search"/>
	</select>

	
	 <!-- 게시글 검색조건 -->
  	<!-- oracle = || 은 + 처럼 쓰일수잇음 컬럼도 합칠수잇 -->
  	<sql id="search">
  		<if test="keyword != null and keyword != ''">
  			<![CDATA[
  				and alcohole_name like '%' || #{keyword} || '%'
  			]]>
  		</if>


  		<if test="dosu != null and dosu != '' and dosu != 0">
  			<![CDATA[
  				and alcohole_level = #{dosu}
  			]]>
  		</if>

  		 <if test="mat != null and mat != '' and mat != '모든'">
  			<![CDATA[
  				and favor = #{mat}
  			]]>
  		</if>

  		 <if test="dosu == 0">
  			<![CDATA[
  				and 1=1
  			]]>
  		</if>

  		 <if test="mat == '모든'">
  			<![CDATA[
  				and 1=1
  			]]>
  		</if>
  	</sql>

	<!-- 술 개수 가져오기 -->
	<select id="solecount" parameterType="com.edu.sole.dto.SoleSearchCriteria" resultType="int">
		<![CDATA[
			select count(*)
			from reciped_alcohole
			where alcohole_category = #{alcohole_category}
		]]>
		
		<include refid="search"/>
  </select>
	
	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<!-- 술 레시피  디테일 가져오기 -->
	<select id="solerecipeDetail" parameterType="String" resultType="com.edu.sole.dto.recipe.RecipeDTO">
		<![CDATA[
			select *
			from recipe
			where recipe_code = #{recipe_code}
		]]>
	</select>

	<!-- 술 정보 -->
	<select id="solerecipe" resultType="com.edu.sole.dto.RecipedSoleDTO" parameterType="String">
		<![CDATA[
			select *
			from reciped_alcohole
			where recipe_code = #{recipe_code}
		]]>
	</select>
	
	<!-- review_id 생성하는 -->
	<select id="selectReviewID" resultType="String">
		<![CDATA[
			select nvl(max(to_number(review_id)),0)+1
  			from alcohole_review
		]]>
	</select>
	
	<!-- review Insert -->
	<insert id="soleReviewInsert" parameterType="java.util.Map">
		<![CDATA[
			insert into alcohole_review
					(review_id, m_id, recipe_code, ingredient_number, content, image, star)
			values  (#{review_id}, #{m_id}, #{recipe_code}, '1', #{content}, #{image}, #{star}) 
		]]>
	</insert>
	
	<!-- 리뷰 정보 가져오는 -->
	<select id="selectReview" resultType="com.edu.sole.dto.recipe.RecipeReviewDTO" parameterType="com.edu.sole.dto.recipe.ReviewCriteria">
		<![CDATA[
			select *
			from	
					(select rownum as rwm, review_id, m_id, recipe_code, ingredient_number, content, image, writedate, star
				 	 from alcohole_review
				 	 where recipe_code = #{recipe_code})
			where rwm between (#{page} -1) * #{perPageNum} + 1 and #{perPageNum} * #{page}
		]]>
	</select>
	
	<!-- 리뷰 카운트 -->
	<select id="reviewcount" parameterType="com.edu.sole.dto.recipe.ReviewCriteria" resultType="int">
		<![CDATA[
			select count(*)
			from alcohole_review
			where recipe_code = #{recipe_code}
		]]>
		
	</select>
	
	<!-- liked_id 생성하는 -->
	<select id="selectLikedId" resultType="String">
		<![CDATA[
			select nvl(max(to_number(liked_id)),0)+1
  			from liked
		]]>
	</select>
	
	<!-- 찜 인설트 -->
	<insert id="jjimInsert" parameterType="com.edu.sole.dto.recipe.LikedDTO">
		<![CDATA[
			insert into liked
				   (liked_id, m_id, recipe_code, ingredient_number)
			values (#{liked_id}, #{m_id}, #{recipe_code}, '1')
		]]>
	</insert>
	
	<!-- 찜 셀렉하는 -->
	<select id="jjimSelect" parameterType="com.edu.sole.dto.recipe.LikedSelectDTO" resultType="com.edu.sole.dto.recipe.LikedDTO">
		<![CDATA[
			select *
			from liked
			where m_id = #{m_id} and recipe_code = #{recipe_code}
		]]>
	</select>
	
	<!-- 찜 딜리트 -->
	<delete id="jjimDelte" parameterType="com.edu.sole.dto.recipe.LikedDTO">
		<![CDATA[
			delete from liked
			where m_id = #{m_id} and recipe_code = #{recipe_code}
		]]>
	</delete>
	
	<!-- 베이스주 셀렉 -->
	<select id="selectbase" parameterType="com.edu.sole.dto.base.BaseSoleSearchCriteria" resultType="com.edu.sole.dto.base.BaseSoleDTO">
		<![CDATA[
			select *
			from (select rownum as rwm, base_alcohole_id, alcohole_category, alcohole_name, alcohole_image, sole_jongryu
				  from base_alcohole)
			where rwm between (#{page} -1) * #{perPageNum} + 1 and #{perPageNum} * #{page}
		]]>
		<include refid="base"/>
	</select>
	
	<!-- 베이스주 총 개수 -->
	<select id="basecount" parameterType="com.edu.sole.dto.base.BaseSoleSearchCriteria" resultType="int">
		<![CDATA[
			select count(*)
			from base_alcohole
			where 1=1
		]]>
		<include refid="base"/>
	</select>
	
	<sql id="base">
		<if test="sole_jongryu != null and sole_jongryu != '' and sole_jongryu != '전부'">
			<![CDATA[
				and sole_jongryu = #{sole_jongryu}
			]]>
		</if>
		
		<if test="keyword != null and keyword != ''">
  			<![CDATA[
  				and alcohole_name like '%' || #{keyword} || '%'
  			]]>
  		</if>
  		
  		<if test="alcohole_category != null and alcohole_category != '' and alcohole_category != 0">
  			<![CDATA[
  				and alcohole_category = #{alcohole_category}
  			]]>
  		</if>
  		
  		<if test="sole_jongryu == '전부'">
  			<![CDATA[
  				and 1=1
  			]]>
  		</if>
	</sql>
	
	<!-- 술 리뷰쓰는 페이지에서 강제로 목록으로 보낼려고 카테고리 가져오는 -->
	<select id="getCategory" parameterType="String" resultType="String">
		<![CDATA[
			select re.alcohole_category
			from reciped_alcohole re , alcohole_category al
			where re.alcohole_category = al.alcohole_category and recipe_code = #{recipe_code}
		]]>
	</select>
	
	

</mapper>