<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

	<typeAliases>
		<typeAlias type="com.edu.member.dto.MemberDTO" alias="memberDTO"/>
		<typeAlias type="com.edu.shopping.dto.CartDTO" alias="cartDTO"/>
		<typeAlias type="com.edu.store.dto.ProductDisplayVO" alias="productDisplayVO"/>
		<typeAlias type="com.edu.store.dto.ProductDTO" alias="productDTO"/>
		<typeAlias type="com.edu.board.dto.BoardDTO" alias="boardDTO"/>
	</typeAliases>
	
</configuration>
